"*":
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
    themes: [
      "one-dark-ui"
      "greti-syntax"
    ]
    openEmptyEditorOnStart: false
    disabledPackages: [
      "spell-check"
    ]
  editor:
    autoIndentOnPaste: false
    showIndentGuide: true
    invisibles: {}
    fontFamily: "Source Code Pro"
    fontSize: 16
    scrollPastEnd: true
    tabLength: 4
    softWrap: true
  "linter-shellcheck":
    "shellcheckExecutablePath": "/usr/bin/shellcheck"
  "autocomplete-plus":
    enableAutoActivation: false
  "spell-check": {}
